[submodule "front-end"]
	path = front-end
	url = git@github.com:McCarthyCode/Icon-Syntax-Front-End.git
[submodule "back-end"]
	path = back-end
	url = git@github.com:McCarthyCode/Icon-Syntax-Back-End.git
